<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Simon Says</title>
    <script src="main.js" type="module" defer></script>

</head>

<body>
    <div class="container">
        <div class="contenido">
            <h1 class="text-center">Simon Says</h1>
            <div class="flex-container">
                <div class="sbtn green">G</div>
                <div class="sbtn red">R</div>
            </div>
            <div class="flex-container">
                <div class="sbtn yellow">Y</div>
                <div class="sbtn blue">B</div>
            </div>
            <div class="flex-container">
                <div class="text-center">
                    <button id="iniciarbtn" class="btn"> Iniciar</button>
                    <div id="ronda" class="ronda"></div>
                    <div id="ranking" class="rainbow">Juega para ver el ranking</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>