body {
  background-color: black;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  min-width: 300px;
}

.flex-container .sbtn {
  width: 20%;
  min-width: 120px;
  max-width: 200px;
  height: 120px;
  margin: 5px;
  text-align: center;
  line-height: 120px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.text-center {
  text-align: center;
}

.green {
  background-color: rgb(40, 198, 40);
  border-radius: 60px 10px 10px 10px;
}

.red {
  background-color: rgb(188, 31, 31);
  border-radius: 10px 60px 10px 10px;
}

.yellow {
  background-color: rgb(190, 190, 33);
  border-radius: 10px 10px 10px 60px;
}

.blue {
  background-color: rgb(37, 37, 214);
  border-radius: 10px 10px 60px 10px;
}

.sbtn:active,
.activar {
  filter: brightness(200%);
}

.btn {
  margin: 40px 2px;
  padding: 15px 32px;
  font-size: 25px;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.verde {
  background-color: #4caf50;
}
.azul {
  background-color: rgb(37, 37, 214);
}
.rojo {
  background-color: rgb(188, 31, 31);
}

.btn:hover {
  background-color: aquamarine;
}

#iniciarbtn:disabled {
  background-color: #eee;
  opacity: 0;
  cursor: default;
}

.ronda {
  font-size: 25px;
  padding: 10px;
}

.ganador {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

.perdedor {
  animation: spin 1s ease-in-out;
}

#inputOculto {
  opacity: 0;
}
.show-input {
  opacity: 1;
}

.rainbow {
  font-size: 30px;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  25% {
    color: rgb(40, 198, 40);
  }
  25% {
    color: rgb(188, 31, 31);
  }
  25% {
    color: rgb(190, 190, 33);
  }
  25% {
    color: rgb(37, 37, 214);
  }
}

.ronda {
  font-size: 35px;
  margin: 40px;
  font-weight: bold;
}
